body{
  margin: 0;
  padding: 0;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1)
    ),
    url(../media/img/fondo-nube.jpg); ;
  background-size: cover;
  font-family: sans-serif;
  height: 100vh;
}

.login-box{
  width: 400px;
  height: 600px;
  background: rgba(102, 102, 102, 0.8);
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
}

.login-box .avatar{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: absolute;
  top: -80px;
  left: calc(50% - 75px);
}

.avatar{
  margin-top: 40px;
}


.login-box h1{
  margin: 1;
  padding: 0;
  text-align: center;
  font-size: 22px;
}

.login-box label{
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
}

.login-box input{
  width: 100%;
  margin-bottom: 20px;
}

.login-box input[type="text"],
.login-box input[type="password"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #b9b9b9;
  font-size: 16px;
}

.login-box input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #34981c;
  transition: .1s;
  color: white;
  font-size: 18px;
  border-radius: 20px;
  cursor: pointer;
}

.login-box input[type="submit"]:hover{
  transition: .1s;
  background: #3eb621;
}

.login-box a{
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgray;
}

.login-box a:hover{
  color: white
}

@media (max-width: 600px){
  body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/fondo-nube.jpg);
  }
  .login-box{
    width: 300px;
    height: 500px;
  }
}
